<center>
    <table>
        <tr>
            <td>
                <center>
                    <img
                        style="max-width: 80px; display: block; margin: auto"
                        src="https://scontent.fmex1-1.fna.fbcdn.net/v/t1.6435-9/46494470_121586462095300_4125730517792325632_n.png?_nc_cat=111&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=mFsp9DAqj3IAX_bBE_4&_nc_ht=scontent.fmex1-1.fna&oh=c429fa16ee2fb5b3767eaf915129d799&oe=60DCF0E4" alt="">

                    <h3 style="margin-top: 24px">
                        Ingeniería en Sistemas <br>
                        Computacionales
                    </h3>
                </center>
            </td>
        </tr>

        <tr >
            <td>
                <p style="margin-top: 36px; color: #7E7E7E; font-weight: normal">
                    Hola {{ name }}
                </p>

                <p style="margin-top: 16px">
                    Has pedido reestablecer su contraseña para hacerlo por favor da click en el
                    siguiente enlace que a continuacion te haremos llegar una vez hecho esto tendras una
                    nueva contraseña si tu no has si do por favor no hagas caso de este mensaje
                </p>

                <center>
                    <a
                        href="http://localhost:8080/change-password?token={{ token }}"
                        class="button"
                        style="margin-top: 36px; margin-bottom: 18px"
                    >
                        <span class="button__text">
                            Restablecer contraseña
                        </span>
                    </a>

                    <p>
                        Si no funciona da click en el siguiente
                        <a
                            href="http://localhost:8080/change-password?token={{ token }}"
                            style="color:#3DE29D; text-decoration: none"
                        >
                            enlace
                        </a>
                    </p>
                </center>

                <h3 style="margin: 36px 0 18px 0">
                    Contacto
                </h3>

                <div>
                    <a
                        href="https://tesco-sic.vercel.app/"
                        style="text-decoration: none; color: #3DE29D; display: block"
                    >
                        Pagina web
                    </a>

                    <a
                        href="https://www.facebook.com/TescoSic"
                        style="text-decoration: none; color: #3DE29D; display: block"
                    >
                        Facebook
                    </a>

                    <a
                        href="mailto:christophergerardy778@gmail.com"
                        style="text-decoration: none; color: #3DE29D; display: block"
                    >
                        Correo electronico
                    </a>
                </div>

                <div style="margin-top: 18px; color: #7E7E7E">
                    © 2021 South Park Digital Studios LLC. Todos los derechos reservados.
                    South Park © 2021 Comedy Partners.
                </div>
            </td>
        </tr>
    </table>
</center>