<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>
        @media screen {
            @font-face {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                src: local('Poppins'), url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap") format('woff');
            }
        }

        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: 'Poppins', sans-serif;
            color: #424242;
        }

        table {
            background: white;
            padding: 36px 18px;
        }

        .button {
            border-radius: 25px;
            background: #3DE29D;
            text-decoration: none;
            display: block;
            max-width: 320px;
            padding: 14px 18px;
        }

        .button__text {
            color: white;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 0.1em;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="margin: auto; max-width: 600px">
        {{{ body }}}
    </div>
</body>
</html>